/* Fonts */
@font-face {
  font-family: "Madimi One";
  src: url("MadimiOne-Regular.ttf");
}

@font-face {
  font-family: "Whisper";
  src: url("Whisper-Regular.ttf");
}

/* Everything */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Madimi One;
}

/* Body */
body {
  min-height: 100vh;
  overflow: hidden;

  /* Backgrounds */

  /* Ocean */
  background: radial-gradient(circle at top left, #1e90ff, transparent),
    radial-gradient(circle at bottom left, #0000cd, transparent),
    radial-gradient(circle at top right, #87cefa, transparent),
    radial-gradient(circle at bottom right, #00bfff, transparent);
  background-blend-mode: multiply;

  /* Sunset */
  /* background: radial-gradient(circle at top left, #ff7f50, transparent),
    radial-gradient(circle at bottom left, #ff6347, transparent),
    radial-gradient(circle at top right, #ffe4b5, transparent),
    radial-gradient(circle at bottom right, #ffdead, transparent);
  background-blend-mode: multiply; */

  /* Forest */
  /* background: radial-gradient(circle at top left, #228b22, transparent),
    radial-gradient(circle at bottom left, #006400, transparent),
    radial-gradient(circle at top right, #adff2f, transparent),
    radial-gradient(circle at bottom right, #7cfc00, transparent);
  background-blend-mode: multiply; */

  /* Desert */
  /* background: radial-gradient(circle at top left, #deb887, transparent),
    radial-gradient(circle at bottom left, #d2b48c, transparent),
    radial-gradient(circle at top right, #f0e68c, transparent),
    radial-gradient(circle at bottom right, #eee8aa, transparent);
  background-blend-mode: multiply; */
}

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-family: Whisper;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a.active::before {
  width: 100%;
}

/* Sections */
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 10px 20vw;
  top: 300px;
}

.section-1 {
  font-size: 32px;
  position: relative;
  height: 160px;
  color: transparent;
  background: -webkit-linear-gradient(right, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  background-clip: text;
}

.section-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}

.section-1 h1 {
  font-family: Whisper;
  font-size: 64px;
}

.section-1 p {
  font-size: 24px;
  margin-top: 20px;
}

/* Top Section-1 */
.tilt-top {
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.tilt-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.tilt-top .shape-fill {
  fill: #ffffff;
}

/* Bottom Section-1 */
.tilt-bottom {
  position: absolute;
  top: 460px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.tilt-bottom .shape-fill {
  fill: #ffffff;
}

/* Projects */
.projects {
  text-align: center;
  margin-top: 300px;
  color: #fff;
}

/* Contact */
.contact {
  text-align: center;
  margin-top: 300px;
  color: #fff;
}
